/* src/pages/Logout/Logout.css */
.logout-container {
  min-height: 100vh;
  background: #b5daff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logout-container h1 {
  color: #007acc;
  margin-bottom: 10px;
}

.logout-container p {
  color: #f58220;
}
